<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find diffbot)/src/map/worlds/diffbot.world"/> -->
    <!--arg name="world_name" value="$(find diffbot)/src/map/worlds/turtlebot_playground.world"/-->
    <!-- <arg name="world_name" value="$(find diffbot)/src/map/worlds/playground.world"/> -->
    <arg name="world_name" value="$(find diffbot)/src/map/worlds/corridor.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find diffbot)src/diffbot_description/urdf/diffbot.xacro'"/>

  <node name="diffbot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model diffbot" />


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diffbot)/rviz/odom_viz.rviz"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="False"/>
    </node>

  <include file="$(find diffbot)/src/diffbot_localization/launch/visual_odometry.launch" />
  <include file="$(find diffbot)/src/diffbot_localization/launch/lidar_odometry.launch" />

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
		<rosparam command = "load" file="$(find diffbot)/src/diffbot_localization/config/ekf_localization.yaml"/>
  </node>

  
  <node pkg="robot_localization" type="ekf_localization_node" name="visual_inertial_fuse" clear_params="true">
    <rosparam command="load" file="$(find diffbot)/src/diffbot_localization/config/visual_inertial_fuse.yaml" />
    <remap from="odometry/filtered" to="visual_inertial_fuse"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="lidar_inertial_fuse" clear_params="true">
    <rosparam command="load" file="$(find diffbot)/src/diffbot_localization/config/lidar_inertial_fuse.yaml" />
    <remap from="odometry/filtered" to="lidar_inertial_fuse"/>
  </node>

</launch>



