<?xml version="1.0" encoding="UTF-8"?>
	<!--This launch file links the differential drive plugin to the teleop twist keyboard plugin via cmd_vel, such that the keyboard strokes controls the differential drive robot-->
	<!--Source: ROS.org. 2015. teleop_twist_keyboard. http://wiki.ros.org/teleop_twist_keyboard . Accessed: 22 September 2020.-->
	<!--Source: Gaitech EDU. 2016. Keyboard Teleop. http://edu.gaitech.hk/turtlebot/teleop-doc.html . Accessed: 22 September 2020.-->
<launch>

  <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"> <!--The launch file runs ROS node teleop_twist_keyboard of the teleop_twist_keyboard package-->

    <remap from="/cmd_vel" to="/cmd_vel"/> <!--remaps the topic of the velocity command to the cmd_vel topic used by the diffbot as specified in the differential drive robot plugin-->

  </node>

</launch>




